<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Servlet</display-name>

   <servlet>
       <servlet-name>FrontController</servlet-name>
       <servlet-class>by.it.lyukovich.jd_03_04.java.FrontController</servlet-class>
   </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SetCacheControl</filter-name>
        <filter-class>by.it.lyukovich.jd_03_04.java.CacheControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SetCacheControl</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>